{% extends "base.html"%}
{% block content%}
    <h2>Login:</h2>
    <div class="container my-5">
        <div class="row">
            <div class="col-4">
                <form action="/processlogin" method="POST">
                    <label for="username">username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="username" autocomplete="off"> <br>
                    <label for="password">password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" autocomplete="off"> <br>
                    <input type="submit" value="Submit" name="submit" class="btn btn-danger btn-block">
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}